@import "tailwindcss";

@theme {
  --color-primary: #0000ff;
  --color-background-light: #ffffff;
  --color-accent-green: #00FF00;
  --color-accent-pink: #ff60b5;

  --shadow-neubrutal: 8px 8px 0px 0px #000;
  --shadow-neubrutal-hover: 4px 4px 0px 0px #000;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #ffffff;
  @apply text-black antialiased;
}

.shape-blob {
  position: absolute;
  z-index: 0;
}

.btn-press:active {
  transform: translate(6px, 6px);
  box-shadow: 2px 2px 0px 0px #000;
}

.border-heavy {
  border: 4px solid #000000;
}

.border-medium {
  border: 2px solid #000000;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-left: 4px solid #000;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #fff;
}